.swiper-slide {
    width: 150px !important;
    height: 400px !important;
    transition: transform 2s cubic-bezier(0.25, 0.8, 0.25, 1);  }
  
  .swiper-slide img {
    width: 150px !important;
    height: 400px !important;
    border-radius: 25px;
    transition: transform 3s cubic-bezier(0.25, 0.8, 0.25, 1),
                    width 2s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateX(20%);
  }
  
  .swiper-slide-active img {
    width: 400px !important;
    height: 400px !important;
    transform: scale(1.05);
    transform: translateX(-20%);
  }
  
  @media (max-width: 500px) {
    .swiper-slide {
      width: 14rem !important;
      height: 18rem !important;
    }
  
    .swiper-slide img {
      width: 14rem !important;
      height: 18rem !important;
    }
  
    .swiper-slide-active img {
      width: 28rem !important;
      height: 18rem !important;
    }
  }
  
  .swiper-slide-prev {
    transition: transform 3s cubic-bezier(0.25, 0.8, 0.25, 1),
    width 2s cubic-bezier(1,0.25,0.8,0.25);
  }
  .swiper-slide-next {
    transition: transform 3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-left:25px;
  }
  
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next,
  .slider-controler .swiper-button-prev {
    transition: transform 2s ease;
  }








  